<html>
<head>
<script type="text/javascript" src="javascripts/Common.js"></script>
<script type="text/javascript" src="javascripts/Pomodoro.js"></script>
</head>
<body>
<script>
	var pomodoro = new Pomodoro();
</script>
</body>
</html>
